node_modules
.pnpm-store

dist
build
coverage
.next
out

.turbo
.cache
*.tsbuildinfo

.DS_Store
Thumbs.db

*.log
npm-debug.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea

playwright-report
test-results

tmp
temp
